/**
 * Coloyur Configuration
 *
 * This file provides the custom colours for this layout.
*
 * !!!
 * Ensure to keep this file in sync with information in the Readme.
 * !!!
 *
 **/

$colour-blue-dark: #122738;
$colour-blue: #193549;
$colour-blue-light: #9effff;
$colour-green: #a5ff90;
$colour-orange: #ffc600;
$colour-orange-dark: #ff9d00;
$colour-red: #a22929;
$colour-pink: #ee3a4333;
$colour-cream: #b1a8ac;
$colour-white: #fff;