@import './colours';

/**
 * Theme Configuration
 *
 * This file provides the theming for toolbox-layout. It is imported in each apps main.js.
 *
 * !!!
 * Ensure to keep this file in sync with information in the Readme.
 * !!!
 *
 **/

// bootstrap defaults:
$primary: $colour-orange;
$secondary: $colour-blue-light;
$dark: $colour-blue-dark;
$light: $colour-white;
$warning: $colour-pink;
$danger: $colour-red;
$success: $colour-green;
$info: $colour-cream;
// custom colour names:
$highlight: $colour-orange-dark;
$background: $colour-blue;


// These imports MUST go below the above definitions to apply to the bootstrap theme
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

/** Defaults **/
body {
	color: $secondary;
}

/** Variables **/
$tool-padding: 2rem;
$tool-border-radius: 10px;
$tool-text-large: 24px;

@import './bootstrap-overrides';